@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


:root {
  --main-green: #44B7AA;
  --secondary-green: #86B8B2;
  --third-green: #deecea;
  --main-grey: #737373;
  --secondary-grey: #3736367F;
  --main-black: #373636;
  font-family: "Work sans", sans-serif;
}

body {
  margin: 0;
}

.lien {
  text-decoration: none;
  color: #fdfdfd;

  &:hover {
    color: #fdfdfd;
  }


  @media (min-width: 1000px) {
    font-size: 4em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-decoration: none;
}

.short-title {
  font-size: 0.9em;
  @media (min-width: 600px) {
    font-size: 2em;
  }
  @media (min-width: 1000px) {
    font-size: 3em;
  }
  @media (min-width: 3000px) {
    font-size: 5em;
  }
}

.modal-dialog {
  @media (min-width: 1500px) {
    max-width: 2500px !important;
    .modal-body {
      font-size: 4em;

      input {
        height: 120px;
        font-size: 1em;
      }
    }

    .modal-footer {
      button {
        border-radius: 10px;
        font-size: 3.5em;
        padding: 30px;
      }
    ;
    }
  }
}


.modal-header {
  @media (min-width: 1500px) {
    h5 {
      font-size: 4em;
    }
  }
}

//CSS du header

header {
  margin: 0;
  background-color: var(--main-green);

}

#logo-header {
  height: 35px;
  margin: 8px 0 8px 25px;
  @media (min-width: 1000px) {
    height: 100px;
    margin: 32px 0 32px 25px;
  }
}

#contact {
  position: absolute;
}

/* CSS du footer */


footer {

  display: grid;
  padding: 1em 0 1em 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--secondary-green);
  font-weight: normal;
  align-items: center;


  div {
    padding: 0.75em 0 0.75em 0;
    margin: 0.75em 0 0.75em 0;
  }

  li {
    text-align: center;
  }

  div li:first-child {
    margin-bottom: 1.15em;
    @media (min-width: 2000px) {
      margin-bottom: 4em;
    }
  }
}

#logo-footer {
  width: 80%;

  grid-column: 1 /span 4;
  margin: 1.5em auto 1.5em auto;
  align-items: center;
  @media (min-width: 600px) {
    grid-column: 1 /span 2;
    width: 65%;
    margin: auto;
  }
  @media (min-width: 1500px) {
    padding: 7em;
  }
}

#left-block {
  grid-column: 1/ span 2;

  ul {
    margin: 0;
    padding: 0;
    @media (min-width: 600px) {
    }

  }

  @media (min-width: 600px) {
    grid-column: 3/span 1;
    border-left: solid white 0.1em;
  }
}

#right-block {
  grid-column: 3/span 2;
  border-left: solid white 0.1em;

  ul {
    margin: 0;
    @media (min-width: 600px) {
      padding: 0;
    }
  }

  @media (min-width: 600px) {
    grid-column: 4/span 1;
  }

  .lien {
    margin: 0;
  }
}

// Page d'accueil

#home {
  text-align: center;

  h1 {
    color: var(--main-green);
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 9%;
    @media (min-width: 600px) {
      font-size: 1.7em;
    }
    @media (min-width: 1000px) {
      font-size: 3.4em;
    }
    @media (min-width: 3000px) {
      font-size: 7em;
    }
  }

  .background-home {
    width: 113%;
    height: 100%;
    margin-left: -13% !important;
  }

  .event-card:nth-child(2n+1) {
    margin: 0 0 8% 8%;
    @media (min-width: 600px) {
      margin: 0 0 8% 20%;
    }
  }

  .event-card:nth-child(2n) {
    margin: 0 0 8% 16%;
    @media (min-width: 600px) {
      margin: 0 0 8% 40%;
    }
  }
}

#home-heading {
  overflow: hidden;
  margin-bottom: 10%;
  position: relative;
}

#logo-home {
  position: absolute;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 25%;
}

#kids {
  position: absolute;
  width: 25%;
  top: 67%;
  right: 13%;
}

.event-card {
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 11px var(--secondary-grey);
  @media (min-width: 600px) {
    width: 40%;
  }
  @media (min-width: 1000px) {
    box-shadow: 0 7px 35px var(--secondary-grey);
  }
}

.event-image {
  width: 100%;
  border-radius: 10px;
  padding: 2%;
}

.event-title {
  color: var(--main-green);
  padding: 0.3em 1.2em 0.3em 1.2em;
}

.bouton-vert {
  color: #fdfdfd;
  background-color: var(--main-green);
  border-radius: 5px;
  width: 35%;
  padding: 7px 0 7px 0;
  border: none;
  margin-bottom: 15%;
  @media (min-width: 600px) {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 10%;
  }
  @media (min-width: 2000px) {
    width: 15%;
    height: 100px;
    font-size: 2.5em;
  }
  @media (min-width: 3000px) {
    width: 10%;
    height: 115px;
    font-size: 3em;
  }
}

.text-transition {
  color: var(--main-grey);
  margin-bottom: 10%;
  padding: 0.2em 1.2em 0.2em 1.2em;
}

//Page de news

#news {
  .background-home {
    width: 100%;
    @media (min-width: 2500px) {
      height: 2500px;
    }

  }

  .event-card {
    margin: 0 auto 8% auto;
    width: 80%;
    @media (min-width: 600px) {
      margin: 0 3% 6% 3%;
      width: 44%;
    }
  }

  @media (min-width: 600px) {
    #card-grid {
      display: flex;
      flex-wrap: wrap;
    }
  }

  form {
    padding: 0 0.7em 0 0.7em;


  }

  input {
    margin-right: 10px;
    @media (min-width: 1500px) {
      width: 40px;
      height: 40px;
      margin-right: 40px;
    }
  }

  label {
    font-size: 0.6em;
    @media (min-width: 1500px) {
      font-size: 3em;
    }
  }
}

#news-heading {
  position: relative;
  margin-bottom: 5%;

  h1, h2 {
    position: absolute;
    color: #fdfdfd;
    left: 0;
    right: 0;
    text-align: center;
  }

  h1 {
    display: block;
    font-size: 1em;
    top: 25%;
    @media (min-width: 600px) {
      font-size: 2em;
    }
    @media (min-width: 1000px) {
      font-size: 6em;
    }
    @media (min-width: 2500px) {
      font-size: 9em;
    }
  }

  h2 {
    font-size: 0.8em;
    top: 65%;
    @media (min-width: 600px) {
      font-size: 1.5em;
    }
    @media (min-width: 1000px) {
      font-size: 4em;
    }
    @media (min-width: 2500px) {
      font-size: 6.5em;
    }
  }
}

#black-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#search-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8%;

  p {
    font-size: 0.7em;
    margin-bottom: 0.7em;
    @media (min-width: 600px) {
      font-size: 1.2em;
    }
    @media (min-width: 1000px) {
      font-size: 4em;
    }
  }

  button {
    width: 100%;
    margin: auto;
    font-size: 0.7em;
    color: #fdfdfd;
    background-color: var(--secondary-green);
    border: var(--main-green);
    @media (min-width: 1500px) {
      font-size: 2.5em;
      height: 100px;
    }
  }

  div {
    margin: auto;
    width: 60%;
    @media (min-width: 1500px) {
      width: 45%;
      height: 100px;
      font-size: 1em;
    }
  }
}

#sort {
  text-align: center;
  width: 0.5em;

  button {
    padding: 0.375rem 0.75rem !important;
  }

  .dropdown-menu {
    padding: 10px;

  }

  a {
    font-size: 0.7em;
    padding: 0.7em;
    border-bottom: 1px solid var(--main-grey);
    @media (min-width: 1500px) {
      font-size: 3em;
    }
  }
}

#filter {
  text-align: center;

  .dropdown-menu {
    width: 100%;
    margin: 0;
    overflow: hidden auto;
    height: 200px;

    li > form > div {
      @media (min-width: 1500px) {
        margin-bottom: 3em !important;
        width: 700px;
        height: 1000px;
      }
    }

    li > form {
      button {
        @media (min-width: 1500px) {
          width: 80%;
          font-size: 2em;
          height: 80px;
        }
      }
    }
  }
}

.mb-3 {
  display: flex;
  align-items: center;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .event-card {
    border: 1px solid var(--main-green);
  }

  .event-image {
    grid-column: 1/2;
    margin: 0;
    border-radius: 10px;
    padding: 0.7em;
    @media (min-width: 1500px) {
      border-radius: 45px;
      padding: 2em;
    }
  }

  p {
    grid-column: 2/3;
    font-size: 0.7em;
    margin: 0 auto 0 auto;
    padding: 0.5em;
    text-align: justify;
    @media (min-width: 1500px) {
      font-size: 2.7em;
      padding: 0.7em;
    }
  }
}

//PAGE ABOUT

#about {

  .container {
    @media (min-width: 1400px) {

      max-width: 4000px !important;
    }
  }

  .background-home {
    width: 100%;
  }

  h2 {
    text-align: center;
    @media (min-width: 1400px) {
      font-size: 5em;
    }
  }

  p.description {
    text-align: center;
    margin-bottom: 0;
    @media (min-width: 1400px) {
      font-size: 3em;
    }
  }

  #programme {
    p {
      @media (min-width: 1400px) {
        font-size: 3em;
      }
    }

    h3 {
      color: var(--main-green);
      @media (min-width: 1400px) {
        font-size: 5em;
      }
    }

    img {
      width: 100%;
      margin-bottom: 10%;
    }

    @media (min-width: 600px) {

      .container {
        display: flex;

        div {
          width: 40%;
          margin: 5%;
        }
      }
    }
  }

  #acteurs {

    padding: 1em 0;
    background-color: var(--third-green);

    p {
      @media (min-width: 1400px) {
        font-size: 3em !important;
      }
    }

    h3 {
      margin-top: 1em;
      font-size: 1em;
      @media (min-width: 1400px) {
        font-size: 5em !important;
      }
    }

    img {
      width: 80% !important;
      border-radius: 5px;
    }

    li {
      @media (min-width: 1400px) {
        font-size: 3em;
      }
    }

    @media (max-width: 600px) {
      .container > div {
        display: flex;
        margin: 1em;

        div, img {
          width: 45%;
          margin: auto;
        }

        img {
          margin-left: -10%;
        }
      }

      .container > div:nth-child(2n) {

      }
    }

    @media (min-width: 600px) {
      img {
        width: 100%;
      }

      .container {
        display: flex;

        ul {
          padding-left: 0;
        }

        div {
          text-align: center;
          width: 30%;
          margin: 2em auto;

          div {
            width: 100%;
          }
        }
      }
    }
  }

  #soutiens {

    padding: 1em 0;
    align-items: center;

    img {
      width: 80%;
      margin: auto;

    }

    p {
      @media (min-width: 1400px) {
        font-size: 3em;
      }
    }

    p:nth-child(2n) {
      margin-top: 2em;
    }

    @media (min-width: 600px) {
      .container {
        display: flex;
        align-items: center;
      }

      img {
        width: 30%;
        height: max-content;
        margin: auto;

      }
    }

  }
}



#about-heading {
  position: relative;
  margin-bottom: 5%;

  h1, h2 {
    position: absolute;
    color: #fdfdfd;
    left: 0;
    right: 0;
    text-align: center;
  }

  h1 {
    display: block;
    font-size: 1em;
    top: 20%;
    @media (min-width: 600px) {
      font-size: 2em;
    }
    @media (min-width: 1000px) {
      font-size: 9em;
    }
  }

  h2 {
    font-size: 0.8em;
    top: 60%;
    @media (min-width: 600px) {
      font-size: 1.5em;
    }
    @media (min-width: 1000px) {
      font-size: 6.5em;
    }
  }
}

//Page mentions légales

#mentions {

  .background-home {
    width: 100%;
    @media (min-width: 600px) {
      height: 650px;
    }
    @media (min-width: 1000px) {
      height: 1920px;
    }
  }

  h1 {
    color: var(--main-green);
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 1%;
    padding-left: 3%;
    @media (min-width: 600px) {
      font-size: 1.7em;
    }
    @media (min-width: 1000px) {
      font-size: 6em;
    }
  }

  p {
    font-size: 0.7em;
    margin-bottom: 0.7em;
    padding: 1em;
    @media (min-width: 600px) {
      font-size: 1.2em;
    }
    @media (min-width: 1000px) {
      font-size: 4em;
    }
  }

  footer {
    p {
      padding: 0;
    }
  }
}

#mentions-heading {
  position: relative;
  margin-bottom: 5%;
  @media (min-width: 1500px) {
    margin-bottom: 2%;
  }

  h1 {
    position: absolute;
    color: #fdfdfd;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    display: block;
    font-size: 1.5em;
    @media (min-width: 600px) {
      font-size: 2em;
    }
    @media (min-width: 1000px) {
      font-size: 9em;
    }
  }

}
