@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGU3msJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUOWwJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUd2wJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K-DQNig.ttf) format('truetype');
}
:root {
  --main-green: #44B7AA;
  --secondary-green: #86B8B2;
  --third-green: #DEECEA;
  --main-grey: #737373;
  --secondary-grey: #3736367F;
  --main-black: #373636;
  font-family: "Work sans", sans-serif;
}
body {
  margin: 0;
}
.lien {
  text-decoration: none;
  color: #fdfdfd;
}
.lien:hover {
  color: #fdfdfd;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  text-decoration: none;
}
.short-title {
  font-size: 0.9em;
}
@media (min-width: 600px) {
  .short-title {
    font-size: 1.1em;
  }
}
header {
  margin: 0;
  background-color: var(--main-green);
}
#logo-header {
  height: 35px;
  margin: 8px 0 8px 25px;
}
#contact {
  position: absolute;
}
/* CSS du footer */
footer {
  display: grid;
  padding: 1em 0 1em 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--secondary-green);
  font-weight: normal;
  align-items: center;
}
footer div {
  padding: 0.75em 0 0.75em 0;
  margin: 0.75em 0 0.75em 0;
}
footer li {
  text-align: center;
}
footer div li:first-child {
  margin-bottom: 1.15em;
}
#logo-footer {
  width: 80%;
  grid-column: 1 / span 4;
  margin: 1.5em auto 1.5em auto;
  align-items: center;
}
@media (min-width: 600px) {
  #logo-footer {
    grid-column: 1 / span 2;
    width: 65%;
    margin: auto;
  }
}
#left-block {
  grid-column: 1 / span 2;
}
#left-block ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 600px) {
  #left-block {
    grid-column: 3 / span 1;
    border-left: solid white 0.1em;
  }
}
#right-block {
  grid-column: 3 / span 2;
  border-left: solid white 0.1em;
}
#right-block ul {
  margin: 0;
}
@media (min-width: 600px) {
  #right-block ul {
    padding: 0;
  }
}
@media (min-width: 600px) {
  #right-block {
    grid-column: 4 / span 1;
  }
}
#right-block .lien {
  margin: 0;
}
#home {
  text-align: center;
}
#home h1 {
  color: var(--main-green);
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 9%;
}
@media (min-width: 600px) {
  #home h1 {
    font-size: 1.7em;
  }
}
#home .background-home {
  width: 113%;
  height: 100%;
  margin-left: -13% !important;
}
#home .event-card:nth-child(2n+1) {
  margin: 0 0 8% 8%;
}
@media (min-width: 600px) {
  #home .event-card:nth-child(2n+1) {
    margin: 0 0 8% 20%;
  }
}
#home .event-card:nth-child(2n) {
  margin: 0 0 8% 16%;
}
@media (min-width: 600px) {
  #home .event-card:nth-child(2n) {
    margin: 0 0 8% 40%;
  }
}
#home-heading {
  overflow: hidden;
  margin-bottom: 10%;
  position: relative;
}
#logo-home {
  position: absolute;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 25%;
}
#kids {
  position: absolute;
  width: 25%;
  top: 67%;
  right: 13%;
}
.event-card {
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-grey);
}
@media (min-width: 600px) {
  .event-card {
    width: 40%;
  }
}
.event-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.event-title {
  color: var(--main-green);
  padding: 0.3em 1.2em 0.3em 1.2em;
}
.bouton-vert {
  color: #fdfdfd;
  background-color: var(--main-green);
  border-radius: 5px;
  width: 35%;
  padding: 7px 0 7px 0;
  border: none;
  margin-bottom: 15%;
}
@media (min-width: 600px) {
  .bouton-vert {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 10%;
  }
}
.text-transition {
  color: var(--main-grey);
  margin-bottom: 10%;
  padding: 0.2em 1.2em 0.2em 1.2em;
}
#news .background-home {
  width: 100%;
}
@media (min-width: 600px) {
  #news .background-home {
    height: 600px;
  }
}
#news .event-card {
  margin: 0 auto 8% auto;
  width: 80%;
}
@media (min-width: 600px) {
  #news .event-card {
    margin: 0 3% 6% 3%;
    width: 44%;
  }
}
@media (min-width: 600px) {
  #news #card-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
#news form {
  padding: 0 0.7em 0 0.7em;
}
#news input {
  margin-right: 15px;
}
#news label {
  font-size: 0.6em;
}
#news-heading {
  position: relative;
  margin-bottom: 5%;
}
#news-heading h1,
#news-heading h2 {
  position: absolute;
  color: #fdfdfd;
  left: 0;
  right: 0;
  text-align: center;
}
#news-heading h1 {
  display: block;
  font-size: 1em;
  top: 25%;
}
@media (min-width: 600px) {
  #news-heading h1 {
    font-size: 2em;
  }
}
#news-heading h2 {
  font-size: 0.8em;
  top: 65%;
}
@media (min-width: 600px) {
  #news-heading h2 {
    font-size: 1.5em;
  }
}
#about .background-home {
  width: 100%;
}
#about h2 {
  text-align: center;
}
#about p.description {
  text-align: center;
  margin-bottom: 0;
}
#about #programme h3 {
  color: var(--main-green);
}
#about #programme img {
  width: 100%;
  margin-bottom: 10%;
}
@media (min-width: 600px) {
  #about #programme .container {
    display: flex;
  }
  #about #programme .container div {
    width: 40%;
    margin: 5%;
  }
}
#about #acteurs {
  padding: 1em 0;
  background-color: var(--third-green);
}
#about #acteurs h3 {
  margin-top: 1em;
  font-size: 1em;
}
#about #acteurs img {
  width: 40%;
  border-radius: 5px;
}
@media (max-width: 600px) {
  #about #acteurs .container > div {
    display: flex;
    margin: 1em;
  }
  #about #acteurs .container > div div,
  #about #acteurs .container > div img {
    width: 45%;
    margin: auto;
  }
  #about #acteurs .container > div img {
    margin-left: -10%;
  }
}
@media (min-width: 600px) {
  #about #acteurs img {
    width: 100%;
  }
  #about #acteurs .container {
    display: flex;
  }
  #about #acteurs .container ul {
    padding-left: 0;
  }
  #about #acteurs .container div {
    text-align: center;
    width: 30%;
    margin: 2em auto;
  }
  #about #acteurs .container div div {
    width: 100%;
  }
}
#about #soutiens {
  padding: 1em 0;
  align-items: center;
}
#about #soutiens img {
  width: 100%;
  margin: auto;
}
#about #soutiens p:nth-child(2n) {
  margin-top: 2em;
}
@media (min-width: 600px) {
  #about #soutiens .container {
    display: flex;
    align-items: center;
  }
  #about #soutiens img {
    width: 30%;
    height: max-content;
    margin: auto;
  }
}
#about-heading {
  position: relative;
  margin-bottom: 5%;
}
#about-heading h1,
#about-heading h2 {
  position: absolute;
  color: #fdfdfd;
  left: 0;
  right: 0;
  text-align: center;
}
#about-heading h1 {
  display: block;
  font-size: 1em;
  top: 20%;
}
@media (min-width: 600px) {
  #about-heading h1 {
    font-size: 2em;
  }
}
#about-heading h2 {
  font-size: 0.8em;
  top: 60%;
}
@media (min-width: 600px) {
  #about-heading h2 {
    font-size: 1.5em;
  }
}
#black-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#search-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8%;
}
#search-menu p {
  font-size: 0.7em;
  margin-bottom: 0.7em;
}
@media (min-width: 600px) {
  #search-menu p {
    font-size: 1.2em;
  }
}
#search-menu button {
  width: 100%;
  font-size: 0.7em;
  color: #fdfdfd;
  background-color: var(--secondary-green);
  border: var(--main-green);
}
#search-menu div {
  margin: auto;
  width: 60%;
}
@media (min-width: 600px) {
  #search-menu div {
    width: 50%;
  }
}
#sort {
  text-align: center;
  width: 0.5em;
}
#sort button {
  padding: 0.375rem 0.75rem !important;
}
#sort .dropdown-menu {
  padding: 10px;
}
#sort a {
  font-size: 0.7em;
  padding: 0.7em;
  border-bottom: 1px solid var(--main-grey);
}
#filter {
  text-align: center;
}
#filter .dropdown-menu {
  margin: 0;
  overflow: hidden auto;
  height: 200px;
}
.mb-3 {
  display: flex;
  align-items: center;
}
.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.event-grid .event-card {
  border: 1px solid var(--main-green);
}
.event-grid .event-image {
  grid-column: 0.5;
  margin: 0;
  border-radius: 10px;
  padding: 0.7em;
}
.event-grid p {
  grid-column: 0.66666667;
  font-size: 0.7em;
  margin: 0 auto 0 auto;
  padding: 0.5em;
  text-align: justify;
}
#profile {
  text-align: center;
}
#profile h1 {
  color: var(--main-green);
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 9%;
}
#profile .background-home {
  width: 113%;
  height: 100%;
  margin-left: -13% !important;
}
#profile-heading {
  overflow: hidden;
  margin-bottom: 10%;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */