@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


:root {
  --main-green: #44B7AA;
  --secondary-green: #86B8B2;
  --third-green: #DEECEA;
  --main-grey: #737373;
  --secondary-grey: #3736367F;
  --main-black: #373636;
  font-family: "Work sans", sans-serif;
}

body {
  margin: 0;
}

.lien {
  text-decoration: none;
  color: #fdfdfd;

  :hover {
    color: #fdfdfd;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-decoration: none;
}

.short-title {
  font-size: 0.9em;
}

//CSS du header

header {
  margin: 0;
  background-color: var(--main-green);

}

#logo-header {
  height: 33px;
  margin: 8px 0 8px 25px;
}

#contact {
  position: absolute;
}

/* CSS du footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-green);
  font-weight: normal;


  div {
    padding: 0.5em 0 0.5em;
    margin: 1em 0 1em 0;
  }

  li {
    text-align: center;
  }

  div li:first-child {
    margin-bottom: 1.3em;
  }

}

#logo-footer {
  width: 80%;
  grid-column: 1 /span 2;
  margin: 1.5em auto 0.5em auto;
  @media(min-width: 600px){
    width: 50%;
  }
}


#left-block {
  grid-column: 1/ span 1;

  ul {
    padding: 0;
  }
}

#right-block {
  grid-column: 2/span 1;
  border-left: solid white 0.1em;

  ul {
    padding: 0;
  }
}

// Page d'accueil

#home {
  text-align: center;

  h1 {
    color: var(--main-green);
    font-weight: normal;
    font-size: 1.3em;
    margin-bottom: 9%;
  }

  .background-home {
    width: 113%;
    height: 100%;
    margin-left: -13% !important;
  }

  .event-card:nth-child(2n+1) {
    margin: 0 0 8% 6%;
  }

  .event-card:nth-child(2n) {
    margin: 0 0 8% 13%;
  }
}

#home-heading {
  overflow: hidden;
  margin-bottom: 10%;
  position: relative;
}

#logo-home {
  position: absolute;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 25%;
}

#kids {
  position: absolute;
  width: 25%;
  top: 67%;
  right: 13%;
}

.event-card {
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--main-green);
}



.event-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.event-title {
  color: var(--main-green);
  padding: 0.3em 1.2em 0.3em 1.2em;
}

.bouton-vert {
  color: #fdfdfd;
  background-color: var(--main-green);
  border-radius: 5px;
  width: 55%;
  padding: 7px 0 7px 0;
  border: none;
  margin-bottom: 15%;
}

.text-transition {
  color: var(--main-grey);
  margin-bottom: 15%;
  padding: 0.2em 1.2em 0.2em 1.2em;
}

//Page de news

#news {
  .background-home {
    width: 100%;
  }

  .event-card{
    margin: 0 auto 8% auto;
  }
}

#news-heading {
  position: relative;
  margin-bottom: 5%;

  h1, h2 {
    position: absolute;
    color: #fdfdfd;
    left: 0;
    right: 0;
    text-align: center;
  }

  h1 {
    display: block;
    font-size: 1em;
    top: 20%;
    @media(min-width: 600px){
      font-size: 2em;
    }
  }

  h2 {
    font-size: 0.8em;
    top: 60%;
    @media(min-width: 600px){
      font-size: 1.5em;
    }
  }
}

//PAGE ABOUT

#about {
  .background-home {
    width: 100%;
  }
  h2{
    text-align: center;
  }
  p.description{
    text-align: center;
    margin-bottom: 0;
  }


  #programme{
    h3{
      color: var(--main-green);
    }
    img{
      width: 100%;
      margin-bottom: 10%;
    }

    @media(min-width: 600px){

      .container{
      display: flex;

      div{
        width: 40%;
        margin: 5%;
      }
    }

  }
  }
  #acteurs{
    padding:  1em 0;
    background-color: var(--third-green);
    h3{
      margin-top: 1em;
      font-size: 1em;
    }
    img{
      width: 40%;
      border-radius: 5px;
    }
    @media(max-width: 600px){
      .container>div{
        display: flex;
        margin: 1em;
        div,img{
          width: 45%;
          margin: auto;
        }
        img{
          margin-left: -10%;
        }
      }
      .container>div:nth-child(2n){

      }
    }

    @media(min-width: 600px){
      img{
      width: 100%;
    }
      .container{
      display: flex;
      ul{
        padding-left: 0;
      }
      div{
        text-align: center;
        width: 30%;
        margin: 2em auto;
        div{
          width: 100%;
        }
      }
    }
    }
  }

  #soutiens{
    padding:  1em 0;
    align-items: center;
    img{
      width: 100%;
      margin: auto;

    }
    p:nth-child(2n){
      margin-top: 2em;
    }

    @media(min-width: 600px){
      .container{
      display: flex;
      align-items: center;
    }
      img{
       width: 30%;
       height: max-content;
       margin: auto;

     }
    }


  }
}

#about-heading {
  position: relative;
  margin-bottom: 5%;

  h1, h2 {
    position: absolute;
    color: #fdfdfd;
    left: 0;
    right: 0;
    text-align: center;
  }

  h1 {
    display: block;
    font-size: 1em;
    top: 20%;
    @media(min-width: 600px){
      font-size: 2em;
    }
  }

  h2 {
    font-size: 0.8em;
    top: 60%;
    @media(min-width: 600px){
      font-size: 1.5em;
    }
  }
}

#black-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#search-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;

  p{
    font-size: 0.7em;
    margin-bottom: 0.7em;
  }
  button{
    width: 100%;
    font-size: 0.7em;
    color: var(--main-grey);
    background-color: var(--secondary-green);
    border: var(--main-green);
  }
  div{
    margin: auto;
    width: 80%;
  }
}

#sort{
  text-align: center;
}

#filter{
  text-align: center;
}

.event-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;

  .event-image{
    grid-column: 0/1;
    margin: 0;
  }
  p{
    grid-column: 1/2;
    font-size: 0.7em;
    margin: 0;
    padding: 0.3em;
  }
}

//PAGE PROFILE

#profile {
  text-align: center;

  h1 {
    color: var(--main-green);
    font-weight: normal;
    font-size: 1.3em;
    margin-bottom: 9%;
  }

  .background-home {
    width: 113%;
    height: 100%;
    margin-left: -13% !important;
  }

}
  #profile-heading {
    overflow: hidden;
    margin-bottom: 10%;
    position: relative;
  }





